<div id="body">
			<div class="header">
				<div>
					<h1>About</h1>
				</div>
			</div>
			<div class="body">
                <img src="images/bg-header-about.jpg" alt=""/>
			</div>
			<div class="footer">
				<div class="sidebar">
                    <sly data-sly-resource="${'parsys4' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
                </div>
				<div class="article">
                    <sly data-sly-resource="${'parsys3' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
				</div>
			</div>
		</div>

